In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [2]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=bac866e91dd1f3ad11f3a7d3111f9b43

In [3]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size =20)
lngs = np.random.uniform(low=-180.000, high=180.000, size=20)
lat_lngs = zip(lats, lngs)
#lat_lngs

In [4]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [5]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [6]:
#for coordinate in coordinates:
 #   print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
  #        citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

In [7]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

19

In [8]:
# Create an empty list to hold the weather data.
city_data = []
#Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1

# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | yellowknife
Processing Record 2 of Set 1 | paidha
Processing Record 3 of Set 1 | rovinj
Processing Record 4 of Set 1 | punta arenas
Processing Record 5 of Set 1 | sri aman
Processing Record 6 of Set 1 | kismayo
Processing Record 7 of Set 1 | biak
Processing Record 8 of Set 1 | goderich
Processing Record 9 of Set 1 | veraval
Processing Record 10 of Set 1 | cabo san lucas
Processing Record 11 of Set 1 | east london
Processing Record 12 of Set 1 | skage
City not found. Skipping...
Processing Record 13 of Set 1 | busselton
Processing Record 14 of Set 1 | morro bay
Processing Record 15 of Set 1 | albany
Processing Record 16 of Set 1 | sentyabrskiy
City not found. Skipping...
Processing Record 17 of Set 1 | mogadishu
Processing Record 18 of Set 1 | mandalgovi
Processing Record 19 of Set 1 | upernavik
-----------------------------
Data Retrieval Complete
-----------------------------

In [9]:
print(len(city_data))
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

17

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Yellowknife,62.4560,-114.3525,23.56,58,0,10.36,CA,2022-04-23 18:42:46
1,Paidha,2.4167,30.9855,64.17,84,95,3.24,UG,2022-04-23 18:52:40
2,Rovinj,45.0800,13.6400,60.62,85,100,15.82,HR,2022-04-23 18:52:40
3,Punta Arenas,-53.1500,-70.9167,44.71,93,100,12.66,CL,2022-04-23 18:42:51
4,Sri Aman,1.2376,111.4621,77.09,100,41,0.00,MY,2022-04-23 18:52:40
5,Kismayo,-0.3582,42.5454,82.65,77,32,14.97,SO,2022-04-23 18:52:41
6,Biak,-0.9131,122.8766,76.48,84,85,0.65,ID,2022-04-23 18:51:09
7,Goderich,43.7501,-81.7165,59.32,55,49,18.41,CA,2022-04-23 18:52:41
8,Veraval,20.9000,70.3667,83.95,56,0,14.09,IN,2022-04-23 18:52:41
9,Cabo San Lucas,22.8909,-109.9124,82.62,65,0,1.01,MX,2022-04-23 18:50:52

In [12]:
new_column_order = ["City","Country","Date","Lat","Lng","Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]

In [14]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")